.resume-page {
	background-color: #f7f7f7;
	padding: 20px;
	font-family: Arial, sans-serif;
}

.main-content {
	margin: 0 auto;
	max-width: 900px;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.section-title {
	font-size: 24px;
	margin-bottom: 10px;
	color: #333;
	text-transform: uppercase;
	border-bottom: 2px solid #333;
	padding-bottom: 5px;
}

.download-btn {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
}

.download-btn:hover {
	background-color: #0056b3;
}

.section {
	margin-bottom: 40px;
}

.project-item,
.career-item,
.education-item {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.project-info,
.career-info,
.education-info {
	flex: 1;
}

.center-horizontal {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.links-container {
	margin-top: 10px;
}

.tech-icons {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 10px;
}

.tech-icon {
	max-width: 40px;
    max-height: 40px;
	height: auto;
}

h4 {
	font-size: 20px;
	margin-bottom: 5px;
	color: #007bff;
}

b {
	display: block;
	margin-bottom: 5px;
}

i {
	display: block;
	margin-bottom: 10px;
	color: #555;
}

p {
	color: #333;
	line-height: 1.5;
}
